.king-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.king{
	width: 155px;
	height: 350px;
	background: orange;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 15px;
	font-family: Verdana;
}